.container {
  padding: 26px 17px 0 17px;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: row;
  flex-direction: row;
}

.imgSearch {
  width: 15px;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: flex;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.card {
  max-width: 163px;
  max-height: 250px;
}
.img-brand {
  width: 135.06px;
  height: 39px;
}
.containerBrand {
  justify-content: center;
  align-items: center;
}

.sectionBanner {
  margin-top: 32px;
  display: flex;
  grid-gap: 9px;
  justify-content: space-between;
  height: 316px;
}

.imgBanner {
  border: 1.03968px solid #ffffff;
  border-radius: 10.3968px;
}
.section {
  margin-top: 32px;
  display: grid;
  grid-gap: 28px;
  grid-template-columns: auto auto auto;
  height: 182.8px;
  text-align: center;
  justify-content: space-around;
}
.boxBanner {
  margin-top: 5.25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 32px;
  text-align: center;
  font-size: 16px;
}
.boxSection {
  margin-top: 5.25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 32px;
  text-align: center;
  font-size: 16px;
}
.titleBanner {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #9a9a9a;
}

.textBanner {
  font-family: "Mulish";
  font-style: italic;
  font-weight: 600;
  line-height: 16px;
  align-items: center;
  color: #000000;
}
.starsBanner {
  height: 16px;
  width: 107.33px;
}

.titleSection {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #9a9a9a;
  margin-top: 5.25px;
}

.textSection {
  font-family: "Mulish";
  font-style: italic;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  align-items: center;
  color: #000000;
}
.starsSection {
  height: 11px;
  width: 73.79px;
}
.imgSection {
  border: 1.03968px solid #ffffff;
  border-radius: 10.3968px;
}

.section2 {
  width: 108px;
  height: 100%;
}

.section3 {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 300;
  position: relative;
}
.section3:hover {
  white-space: initial;
  overflow: visible;
  cursor: pointer;
  background: #ffffff;
  z-index: 300;
}
